@import url("https://fonts.googleapis.com/css?family=Montserrat");
:root {
  --science-blue: #0062bd;
  --orient-blue: #005d84;
  --oonau-blue: #bfecff;
  --rose-sharon: #bd5800;
  --cinnamon: #843e00;
  --white: #ffffff;
  --black: #000000;
}

body,
html {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  height: 100%;
  position: relative;
  flex: 1 0 auto;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--rose-sharon);
  color: var(--white);
}

/* Helpers */
.onnau-blue-text {
  color: var(--oonau-blue);
}

.cinnomon-text {
  color: var(--cinnamon);
}

.orient-text {
  color: var(--orient-blue);
}

.rose-text {
  color: var(--rose-sharon);
}
.weight-600 {
  font-weight: 600;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.search-bar mb-0 {
  margin-right: 20px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* Home Page */
.slider {
  z-index: 1;
}

.slider .slides .caption {
  color: var(--white) !important;
  background-color: rgb(0 93 132 / 0.7);
  padding: 5px;
}

.slider .slides li img {
  opacity: 0.9;
}

/* Products */

.collection {
  margin-top: 60px;
}

/* Contact Us  */
.contact-block {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  padding: 8%;
  text-align: center;
  margin: 5% auto;
  -webkit-box-shadow: 0 2px 2px 0 var(--oonau-blue), 0 3px 1px -2px var(--oonau-blue), 0 1px 5px 0 var(--cinnamon);
  box-shadow: 0 2px 2px 0 var(--oonau-blue), 0 3px 1px -2px var(--oonau-blue), 0 1px 5px 0 var(--cinnamon);
}

.contact-form {
  background-image: url("../images/burst-kUqqaRjJuw0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.contact-form .material-icons {
  color: var(--white);
}

.contact-form-block {
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  border-radius: 2px;
}

.contact-text {
  margin: 50px auto;
}

/* label color */
.input-field input {
  color: #fff;
}

/* label color */
.input-field label {
  color: #fff;
}
/* label focus color */
.input-field input:focus + label {
  color: #fff !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #fff !important;
}
