<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta Tags-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta name="description" content="Universe Mines - Around The World.">
    <meta name="keywords" content="Universe, Mines, Universe Mines">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../images/favicon_io/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon_io/site.webmanifest">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/menu.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <title>Universe Mines</title>
</head>

<body>



    <main>
        <div class="header">
            <div class="row mb-0">
                <div class="col s3">
                    <div id="menuArea">
                        <input type="checkbox" id="menuToggle"></input>

                        <label for="menuToggle" class="menuOpen">
                            <div class="open"></div>
                        </label>

                        <div class="menu menuEffects">
                            <label for="menuToggle"></label>
                            <div class="menuContent">
                                <ul>
                                    <li><a href="/" class="aside-anchor">Home</a></li>
                                    <li><a href="/views/Products.html" class="aside-anchor">Products</a></li>
                                    <li><a href="/views/AboutUs.html" class="aside-anchor">About Us</a></li>
                                    <li><a href="/views/ContactUs.html" class="aside-anchor">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6 center-align">
                    <a href="/">
                        <img src="../images/Logo1.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container">
            <h5 class="cinnomon-text weight-600 center-align">About Us</h5>
            <p>
                <span class="cinnomon-text weight-600">Universe Mines</span> is an established Stockholder, Exporter,
                Supplier of Alloy Steel, Stainless Steel,
                Carbon, Steel, Nickel Alloys, Duplex, Super duplex and various other exotic Ferrous & Non-Ferrous Metal
                products such as Sheet , Plate ,Coil , Pipes, Tubes And Pipe Fittings.
            </p>

            <p><span class="cinnomon-text weight-600">Universe Mines</span> an ISO CERTIFIED COMPANY started in 1996 and
                now we are an authorized Stockholder of one
                of
                the best exporter in the world with state of the art warehousing, integrated ERP system and a tie-up
                with
                Internationally-reputed third party inspection agencies (TPIA). We regularly fulfill the orders in large
                volumes and have been working with unparallel earnestness and zeal.</p>

            <p>As markets today demand better performance, more reliability & higher quality. We are expanding to new
                areas
                on the map, offering a wide range of products & services than even before.</p>

            <p>We provide the most comprehensive and reliable service to all Industries. <span
                    class="cinnomon-text weight-600">Universe Mines</span> the name
                itself
                stands for superior quality and service. We welcome the opportunity to resolve difficult supply problems
                as
                providing materials that are needed on a quick or emergency requirement. Please be advised that
                <span class="cinnomon-text weight-600">Universe Mines</span> is not just a stockholder though. We focus
                on Partnership and Long-term business relationships. We
                have been in this business for almost more then 2 decades now. In this time we have made great business
                relationships with exporter.</p>

            <p>Our experience and resourceful personnel are trained to have the knowledge of steel product that provides
                you with the kind of reply you need to fulfill your most complex & original requirements. We process
                large
                as well as small orders, quickly and effectively, with usual lead times of one week or less.</p>



            <p>You can depend on our experienced staff for courteous, prompt, and reliable service. We export and
                deliver at time. You can rely on us.</p>

            <p class="orient-text">Send us an email for a quote or to get more information on how we can help with your
                metal needs. We will
                get back to you the next working day.</p>
            <br><br>


        </div>



        <footer class="page-footer bg-rose">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Reach Us</h5>
                        <p class="grey-text text-lighten-4">Send us an email for a quote or to get more information on
                            how we can help with your metal needs. We will get back to you the next working day.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a href="/" class="grey-text text-lighten-3">Home</a></li>
                            <li><a href="/views/Products.html" class="grey-text text-lighten-3">Products</a></li>
                            <li><a href="/views/AboutUs.html" class="grey-text text-lighten-3">About Us</a></li>
                            <li><a href="/views/ContactUs.html" class="grey-text text-lighten-3">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <a href="/" class="grey-text text-lighten-4"> © 2020 Universe Mines Pvt. Ltd.</a>
                        </div>
                        <div class="col l4 s12  offset-l2">
                            <a class="grey-text text-lighten-4"
                                href="https://www.linkedin.com/in/mauaa-datta-4b8455142/">Made
                                by
                                MD</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </main>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>

</body>

</html>