<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta Tags-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta name="description" content="Universe Mines - Around The World.">
    <meta name="keywords" content="Universe, Mines, Universe Mines">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon_io/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="images/favicon_io/site.webmanifest">
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/menu.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <title>Universe Mines</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
    <main>
        <div class="header">
            <div class="row mb-0">
                <div class="col s3">
                    <div id="menuArea">
                        <input type="checkbox" id="menuToggle"></input>

                        <label for="menuToggle" class="menuOpen">
                            <div class="open"></div>
                        </label>

                        <div class="menu menuEffects">
                            <label for="menuToggle"></label>
                            <div class="menuContent">
                                <ul>
                                    <li><a href="/" class="aside-anchor">Home</a></li>
                                    <li><a href="/views/Products.html" class="aside-anchor">Products</a></li>
                                    <li><a href="/views/AboutUs.html" class="aside-anchor">About Us</a></li>
                                    <li><a href="/views/ContactUs.html" class="aside-anchor">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6 center-align">
                    <a href="/">
                        <img src="../images/Logo1.png" />
                    </a>
                </div>
                <div class="col s12 m3">
                    <div class="input-field search-bar mb-0">
                        <input class="filter" placeholder="filter" />
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="container-fluid">
            <h5 class="cinnomon-text weight-600 center-align">Our Products</h5>
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="row">
                        <div class="col s12 m3">

                            <div class="collection">
                                <a href="#!" class="collection-item">Colour Coated Coil</a>
                                <a href="#!" class="collection-item active">Pre Painted Galvanized Coil/Sheet (PPGI)</a>
                                <a href="#!" class="collection-item ">Pre Painted Galvalume Coil/Sheet (PPGL)</a>
                                <a href="#!" class="collection-item">Galvanized Coil/Sheet (GP/GI)</a>
                                <a href="#!" class="collection-item">Cold Rolled Coil/Sheet (CR)</a>
                                <a href="#!" class="collection-item">Hot Rolled Coil/Sheet</a>
                                <a href="#!" class="collection-item">Mild Steel Coil</a>
                            </div>
                        </div>
                        <div class="col s12 m9">

                            <div class="view right">
                                <a href="#" class=""><i class="material-icons science-blue-text small">grid_on</i></a>
                                <a href="#" class=""><i
                                        class="material-icons science-blue-text small">format_list_bulleted</i>
                                </a>
                            </div>
                            <div class="wrapper">
                                <div class="products category">
                                    <ul class="mt-0">
                                        <li class="product-card" data-product="macbook">
                                            <div class="itemIMG">
                                                <img src="https://webdevtrick.com/wp-content/uploads/macbook.jpg">
                                                <div class="addCART">
                                                    <a href="#">
                                                        <span>Enquire</span>
                                                        <span><img src="../images/whatsapp.png"
                                                                class="whatsapp-link " /></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class=" itemTitle"> <a href="#">Macbook Air</a>
                                                <span>$ 1200.00</span>

                                                <p class="des">Detailed item information</p>
                                                <p>Lorem Ipsum is simply dummy text of the printing and
                                                    typesetting
                                                    industry. Lorem
                                                    Ipsum
                                                    has been the industry's standard dummy text ever since
                                                    the
                                                    1500s,
                                                    when an unknown
                                                    printer took a galley of type and scrambled it to make a
                                                    type
                                                    specimen book.</p>
                                            </div>
                                        </li>

                                        <li class="product-card" data-product="macbook">
                                            <div class="itemIMG">
                                                <img src="https://webdevtrick.com/wp-content/uploads/msi.jpg">
                                                <div class="addCART"> <a href="#">+ Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="itemTitle">
                                                <a href="#">MSI</a>
                                                <span>$ 800.00</span>

                                                <p class="des">Detailed item information</p>
                                                <p> It was popularised in the 1960s with the release of Letraset
                                                    sheets
                                                    containing Lorem
                                                    Ipsum passages, and more recently with desktop publishing
                                                    software
                                                    like Aldus
                                                    PageMaker
                                                    including versions of Lorem Ipsum.</p>
                                            </div>
                                        </li>

                                        <li class="product-card" data-product="notebook">
                                            <div class="itemIMG">
                                                <img src="https://webdevtrick.com/wp-content/uploads/pavilion.jpg">
                                                <div class="addCART"> <a href="#">+ Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="itemTitle">
                                                <a href="#">HP Pavilion</a>
                                                <span>$ 1000.00</span>

                                                <p class="des">Detailed item information</p>
                                                <p>-60s with the release of Letraset sheets containing Lorem Ipsum
                                                    passages, and more
                                                    recently with desktop publishing software like Aldus PageMaker
                                                    including versions of
                                                    Lorem Ipsum.</p>
                                            </div>
                                        </li>

                                        <li class="product-card" data-product="notebook">
                                            <div class="itemIMG">
                                                <img src="https://webdevtrick.com/wp-content/uploads/predator.jpg">
                                                <div class="addCART"> <a href="#">+ Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="itemTitle">
                                                <a href="#">Asus Predator</a>
                                                <span>$ 2500.00</span>

                                                <p class="des">Detailed item information</p>
                                                <p>-60s with the release of Letraset sheets containing Lorem Ipsum
                                                    passages, and more
                                                    recently with desktop publishing software like Aldus PageMaker
                                                    including versions of
                                                    Lorem Ipsum.</p>
                                            </div>
                                        </li>
                                        <li class="product-card" data-product="notebook">
                                            <div class="itemIMG">
                                                <img src="https://webdevtrick.com/wp-content/uploads/surface.jpg">
                                                <div class="addCART"> <a href="#">+ Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="itemTitle"> <a href="#">MS Surface Pro</a>
                                                <span>$ 1350.00</span>

                                                <p class="des">Detailed item information</p>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem
                                                    Ipsum
                                                    has been the industry's standard dummy text ever since the
                                                    1500s,
                                                    when an unknown
                                                    printer took a galley of type and scrambled it to make a type
                                                    specimen book.</p>
                                            </div>
                                        </li>

                                        <li class="product-card" data-product="notebook">
                                            <div class="itemIMG">
                                                <img src="https://webdevtrick.com/wp-content/uploads/vivobook.jpg">
                                                <div class="addCART"> <a href="#">+ Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="itemTitle">
                                                <a href="#">Vivobook</a>
                                                <span>$ 500.00</span>

                                                <p class="des">Detailed item information</p>
                                                <p> It was popularised in the 1960s with the release of Letraset
                                                    sheets
                                                    containing Lorem
                                                    Ipsum passages, and more recently with desktop publishing
                                                    software
                                                    like Aldus
                                                    PageMaker
                                                    including versions of Lorem Ipsum.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <footer class="page-footer bg-rose">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Reach Us</h5>
                        <p class="grey-text text-lighten-4">Send us an email for a quote or to get more information on
                            how we can help with your metal needs. We will get back to you the next working day.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a href="/" class="grey-text text-lighten-3">Home</a></li>
                            <li><a href="/views/Products.html" class="grey-text text-lighten-3">Products</a></li>
                            <li><a href="/views/AboutUs.html" class="grey-text text-lighten-3">About Us</a></li>
                            <li><a href="/views/ContactUs.html" class="grey-text text-lighten-3">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            © 2020 Universe Mines Pvt. Ltd.
                        </div>
                        <div class="col l4 s12  offset-l2">
                            <a class="grey-text text-lighten-4"
                                href="https://www.linkedin.com/in/mauaa-datta-4b8455142/">Made
                                by
                                MD</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>

</body>

</html>